.container {
  position: absolute;
  width: 100px;
  height: 30px;
  background: #333;
  left: 5px;
  top: 5px;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.container .dot {
  height: 6px;
  width: 6px;
  background: #fff;
  border-radius: 100%;
  margin-left: 10px;
}

.container #dot {
  display: flex;
  margin-left: -10px;
}

.body {
  font-family: 'microsoft-font';
  width: 200px;
  background: rgb(51,51,51);
  font-size: .9rem;
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 15px;
  border-radius: .2rem;
  font-weight: 300;
  z-index: 1;
}

.body:after {
  content: '';
  background: #333;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 35px;
  transform: rotate(135deg);
  z-index: 0;
}

.body li {
  list-style: none;
  margin-bottom: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}