<app-logout></app-logout>
<div class="container">
  <div class="box">
    <a routerLink="profile">
      <p>
        Meus dados pessoais
      </p>
      <img src="assets/img/icons/user.png" alt="user icon">
    </a>
  </div>
  <div class="box">
    <a href="http://search.mycroway.com/historic">
      <p>
        Histórico de buscas
      </p>
      <img src="assets/img/icons/search.png" alt="search icon">
    </a>
  </div>
  <div class="box">
    <a href="http://dictionary.mycroway.com/historic">
      <p>
        Histórico no dicionário
      </p>
      <img src="assets/img/icons/book.png" alt="dictionary icon">
    </a>
  </div>
  <div class="box">
    <a routerLink="password/forgot">
      <p>
        Redefinição de senha
      </p>
      <img src="assets/img/icons/key.png" alt="key icon">
    </a>
  </div>
</div>