<button (focus)="toVisible()" (blur)="toInvisible()" class="container">
  {{ user.name[0] }}
</button>
<div *ngIf="enable" class="body">
  <img src="assets/img/logo.png" alt="logo" class="logo">
  <div class="user-datas">
    <div id="name">
      {{ user.name }}
    </div>
    <div id="email">
      {{ user.email }}
    </div>
  </div>
    <a routerLink="">
      <p class="to-home">
        Gerenciar conta
      </p>
    </a>
  <a routerLink="login">
    <footer>
      <img src="assets/img/icons/user.png" alt="user">
      <p>
        Faça login com uma conta diferente
      </p>
    </footer>
  </a>
</div>