<div class="container">
  <h1>Insira os seguintes dados:</h1>
  <form>
    <div class="input">
      <input type="email" placeholder="Digite aqui o seu e-mail" id="email" [(ngModel)]="user.email" name="email" />
    </div>
    <div class="input">
      <input [(ngModel)]="user.password" placeholder="Digite seu senha aqui" type="password" id="password" name="password" />
    </div>
    <button (click)="auth()" class="input button" type="button">Fazer login</button>
  </form>
  <div style="display: flex; font-size: .7rem;">
  <a routerLink="/create">Ainda não tenho uma conta</a>
  <div style="width: 2px; height: 1rem; background: #333; margin-left: 5px; margin-top: auto; margin-bottom: auto;"></div>
  <a routerLink="/password/forgot" style="margin-left: 5px; ">Esqueci minha senha</a>
  </div>
</div>