.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.delete-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: rgb(255,102,102);
  font-size: 1.8rem;
}

.icon {
  width: 350px;
  height: 350px;
  margin-top: -70px;
  margin-bottom: -60px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form .input {
  margin-bottom: 15px;
  height: 50px;
  width: 350px;
  background: #333;
  border: none;
  outline: none;
  border-radius: .2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form .input input {
  width: 90%;
  height: 90%;
  background: #333;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'microsoft-font';
  font-size: 1rem;
}

.container form .input select {
  width: 90%;
  font-size: 1rem;
  background: #333;
  color: #fff;
  border: none;
  outline: none;
  font-family: 'microsoft-font';
}

.container form .button {
  font-size: 1rem;
  background-color: rgb(0,140,255);
  font-family: 'microsoft-font';
}

h1 {
  font-family: 'microsoft-font';
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}