@font-face {
  font-family: 'font-medium';
  src: url('assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'main-font';
  src: url('assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'microsoft-font';
  src: url('assets/fonts/microsoft.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { color: #fff; background: rgb(32, 33, 37); margin: 0; font-family: 'font-medium'; }

.msg-success {
  background-color: #28a745;
  color: #fff;
  font-family: 'font-medium';
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
  font-family: 'font-medium';
}

.input {
  margin-bottom: 15px;
  height: 50px;
  width: 350px;
  background: #333;
  border: none;
  outline: none;
  border-radius: .2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'font-medium';
}
